*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(./images\ \(1\).jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 150vh;
}
ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    color: white;
    background-color: black;
}
li{
    font-size: 20px;
    padding: 20px;
}
nav{
    position: sticky;
    top: 0;
}
div{
    width: 100vw;
    height: 20vh;
    text-align: center;
    padding-top: 70px;
    background-color: black;
    color: ;
}